@import "tailwindcss";

:root {
  --bg: #191919;
  --fg: #d6cfcf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #080808; /* different dark bg */
    --fg: #ededed;
  }
}

body {
  background: var(--bg);
  color: var(--fg); /* inherited by children */
}
